@import 'reset'
@import 'mixins'
@import 'typography'
@import 'grid'

body
  @extend .letaba_sans
  background: #ffffff
  font-size: 16px

header
  border-bottom: 10px solid $sandy
  height: 500px
  background: #ffffff url(/assets/img/header_bg.jpg) center no-repeat

#main

#intro
  padding: 4em 0

#about
  padding: 4em 0
  border-top: 1px solid $sandy

#contact
  padding: 4em 0
  border-top: 1px solid $sandy

footer
  border-top: 1px solid $sandy
  padding: 2em 0 4em 0
