html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix, .container {
  zoom: 1; }
  .clearfix:before, .container:before, .clearfix:after, .container:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after, .container:after {
    clear: both; }

.letaba_sans, body {
  font-family: "open-sans", sans-serif; }

p, article {
  line-height: 1.6;
  font-weight: 300; }

ul {
  margin: 2em 0 0 0; }
  ul li {
    margin: 0.25em 0; }

a {
  color: #328bb1;
  text-decoration: none; }

.container {
  width: 60em;
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.grid_9 {
  width: 533px; }

body {
  background: white;
  font-size: 16px; }

header {
  border-bottom: 10px solid #dedccc;
  height: 500px;
  background: white url(/assets/img/header_bg.jpg) center no-repeat; }
  header nav#global_nav {
    padding: 2.875em 0 0 0; }
    header nav#global_nav h1 {
      font-size: 1.875em;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      width: 167px;
      float: left;
      color: white;
      margin-top: -2px; }
      header nav#global_nav h1 span {
        font-size: 0.4em;
        display: block; }
    header nav#global_nav a {
      float: right;
      display: block;
      margin-left: 2em;
      text-transform: uppercase;
      color: white;
      font-weight: 300;
      font-size: 0.875em;
      letter-spacing: 0.2em; }

.carousel_slide {
  padding: 6em 4em; }
  .carousel_slide#slide_1 {
    background: url(/assets/img/squares.png) center no-repeat; }
  .carousel_slide h2 {
    font-size: 4em;
    font-weight: 300;
    color: #95553d; }
    .carousel_slide h2 span {
      display: inline-block;
      background: rgba(255, 255, 255, 0.9);
      padding: 0.125em 0.25em;
      margin-bottom: 0.125em; }
  .carousel_slide h3 {
    color: #3b4c56;
    background: rgba(255, 255, 255, 0.9);
    padding: 0.25em 0.5em;
    display: inline-block;
    font-weight: 600; }

#intro {
  padding: 4em 0; }

#about {
  padding: 4em 0;
  border-top: 1px solid #dedccc; }

#contact {
  padding: 4em 0;
  border-top: 1px solid #dedccc; }

footer {
  border-top: 1px solid #dedccc;
  padding: 2em 0 4em 0; }
  footer p {
    text-align: center;
    font-size: 0.75em; }
